PORT=4000
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
CLIENT_URL=http://localhost:5173
POCKETBASE_URL=http://127.0.0.1:8090
PB_ADMIN_EMAIL=
PB_ADMIN_PASSWORD=
PB_WORKSPACES_COLLECTION=workspaces
PB_USERS_COLLECTION=users
DEFAULT_WORKSPACE_NAME=Office Device Inventory
DEFAULT_WORKSPACE_ID=7hdaukcpiuzejeh
