VITE_POCKETBASE_URL=http://127.0.0.1:8090
VITE_API_URL=http://localhost:4000
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_PB_USERS_COLLECTION=users
VITE_PB_WORKSPACES_COLLECTION=workspaces
VITE_PB_DEVICES_COLLECTION=devices
VITE_PB_DEVICE_NOTES_COLLECTION=device_notes
